[submodule "PrevEngine/vendor/ImGui"]
	path = PrevEngine/vendor/ImGui
	url = https://github.com/preversewharf45/imgui
[submodule "PrevEngine/vendor/glm"]
	path = PrevEngine/vendor/glm
	url = https://github.com/preversewharf45/glm
[submodule "PrevEngine/vendor/entityx"]
	path = PrevEngine/vendor/entityx
	url = https://github.com/preversewharf45/entityx
[submodule "PrevEngine/vendor/Box2D"]
	path = PrevEngine/vendor/Box2D
	url = https://github.com/preversewharf45/Box2D
[submodule "Sandbox/vendor/lua"]
	path = Sandbox/vendor/lua
	url = https://github.com/preversewharf45/lua
[submodule "PrevEngine/vendor/glfw"]
	path = PrevEngine/vendor/glfw
	url = https://github.com/preversewharf45/glfw
