.vs/*
bin*/*
*.sln
PrevEngine/*.vcxproj*
PrevEngine/*.vcxproj.*
Sandbox/*.vcxproj*
Sandbox/*.vcxproj.*
PrevEngine/vendor/*/*.vcxproj*
PrevEngine/vendor/*/*.vcxproj.*
PrevEngine/vendor/*/bin*/*
Sandbox/vendor/*/*.vcxproj*
Sandbox/vendor/*/*.vcxproj.*
Sandbox/vendor/*/bin*/*
Makefile
Makefile.in
